@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');


*,*::before, *::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: white;
    color: black;
    margin: 24px;
}

.wall {
    width: 100%;
    margin-top: 20%;
}

.menu {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a img {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

.menu a img:hover {
    background: lightskyblue;
    border-radius: 50%;
}

.menu nav ul li {
    display: inline;
    margin: 10px;
}

.menu nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.book {
    width: 100%;
    margin: 0 auto;
    margin-top: 25%;
}

.book img {
    width: 100%;
}

.details {
  width: 100%;
  text-align: center;
}

.details .title {
    font-size: 1.2em;
    font-weight: 700;
}

.details .description {
    width: 80%;
    text-align: justify;
    margin: 3% auto;
}

.details .price {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 5%;
}

.details button {
    padding: 10px 20px;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: white;
}

.details button:hover {
    background: black;
    color: white;
}

@media (min-width: 768px) {

    .menu a img {
        width: 80px;
    }

    .menu nav ul li {
        margin: 25px;
        font-size: 20px;
    }

    .menu nav li a {
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .menu nav li a:hover {
        background: lightskyblue;
        color: white;
        border: none;
        transition: 0.25ms ease-out;
    }

    .details .title {
        font-size: 2em;
    }

    .details .description {
        font-size: 1.2em;
    }

    .details .price {
        font-size: 1.5em;
        font-weight: 500;
    }
}


@media (min-width: 1024px) {


    .menu a img {
        margin-left: 20px;
    }

    .menu nav {
        margin-right: 2em;
    }
 
    .menu nav ul li {
        font-size: 25px;
    }

    .details button {
        font-size: 1em;
    }

    .book {
        margin-top: 15%;
    }

    .details .price {
        margin-bottom: 2%;
    }

}

@media (min-width: 1700px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .book {
        width: 50%;
        margin-top: 10%;
    }

    .details {
        width: 50%;
        margin-top: 10%;
    }

    .details .title {
        font-size: 2.5em;
    }

    .details .description {
        font-size: 2em;
    }

    .details button {
        font-size: 1.2em;
    }
}


